body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* This is the part which I have done */
.myName {
  background-color: lightcoral;
}

.fruits {
  background-color: lightgray;
  font-weight: bold;
}

.fruits > li {
  color: aqua;
}

.para {
  font-style: italic;
  text-decoration: underline;
}


.room {
  height: 100%;
  margin: 0;
}
.lit {
  background-color: white;
  color: black;
}
.dark {
  background-color: black;
  color: white;
}

.ONOFF {
  height: 100%;
  margin: 0;
}

.Green {
  background-color: greenyellow;
  color: white;
}

.notGreen {
  background-color: white;
  color: black;
}